<html>

<head>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
</head>

<body>
    <img src="homelogo.jpg">
    <h1> <a href="/">Home</a></h1>
    <a href="/addnewdoctor">Insert a new Doctor</a><br/>
    <a href="/getdoctors">List doctors</a><br/>
    <a href="/addnewpatient">Insert a new patient</a><br/>
    <a href="/getpatients">List patients</a><br/>
    <a href="/deletepatient">Delete patient</a><br/>
    <a href="/updatedoctor">Update doctor</a><br/>
        

    
</body>

</html>

