<html>
<head>
        <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1> Insert new doctor</h1> </br>
    <h1>
        <a href="/">Home</a>
    </h1>
    <form action="/addnewdoctor" method="POST">
        first name <input type="text"  name="fname" /> </br>
        last name <input type="text"  name="lname" /> </br>
        date of birth <input type="date"  name="dob" /> </br>
        Address: </br>
            State:  <input type="text"  name="state" /> </br>
            Suburb  <input type="text"  name="suburb" /> </br>
            Street  <input type="text"  name="street" /> </br>
            Unit    <input type="text"  name="unit" /> </br>
        No. of Patients <input type="number"  name="numPatients" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>

</html>