<html>
<head>
        <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1> Insert new patient</h1> </br>
    <h1>
        <a href="/">Home</a>
    </h1>
    <form action="/addnewpatient" method="POST">
        full name <input type="text"  name="name" /> </br>
        doctor <input type="text"  name="doctor" /> </br>
        age <input type="number"  name="age" /> </br>
        date of visit <input type="date"  name="dov" /> </br>
        case description <input type="text"  name="caseDesc" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>

</html>